/*..................EJERCICIO 1 .....................*/
* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}
.contenedor {
  max-width: 1200px;
  background: #fff;
  display: flex;
  flex-flow: column nowrap;
}

/* HEADER*/
.header {
  background: #000;
  display: flex;
  flex-flow: column nowrap;
}
/*...... MENU*/
.menu {
  background: #52006a;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.logo {
  background: #cd113b;
  flex: 1 1 auto;
}
.nav {
  background: #cd113b;
  flex: 5 1 auto;
}
.social {
  background: #cd113b;
  flex: 1 1 auto;
}
/*......TEXTO,IMAGEN PRINCIPAL*/
.texto-principal {
  background: #ff7600;
}
h1 {
  background: #ffa900;
}

/*SECTION*/
.section {
  background: #000;
  display: flex;
}
/*......ARTICLES*/
.articles {
  background: #7c83fd;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.article {
  background: #96baff;
  flex: 1 1 40%;
}
.texto-articles {
  background: #7dedff;
  flex: 1 1 100%;
}

/*......ASIDE*/
.aside {
  background: #ff2442;
  flex: 1 1 auto;
}
.publicidad {
  background: #ffb830;
}

/*FOOTER*/
.footer {
  background: #000;
  display: flex;
  justify-content: center;
}
.nav-footer {
  background: #ffa900;
  flex: auto;
}
/*..................EJERCICIO 2 .....................*/
/*Device = Low Resolution Tablets, Mobiles (Landscape)*/
@media all and (max-width: 767px) {
  .section {
    flex-direction: column;
  }
}
/*..................EJERCICIO 3 .....................*/
/*Smartphones Mobiles (Portrait)*/
@media all and (max-width: 480px) {
  .articles {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
  }
  .logo {
    width: 100%;
  }
  .nav {
    width: 100%;
  }

  .social {
    width: 100%;
  }
}
